/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/images/product
public/images/payment-method
public/images/promo
public/images/slider
public/images/banner
public/csv
.env
*.conf
*.dockerfile
